name: github pages

on:
  push:
    branches:
      - master
      - main

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '12.x'

      - name: Building dataset
        - run: curl https://raw.githubusercontent.com/datopian/portal.js/main/scripts/single-dataset-no-commit.sh> portal.sh
        - run: git config --local user.email "$(git log --format='%ae' HEAD^!)" && git config --local user.name "$(git log --format='%an' HEAD^!)"
        - run: source ./portal.sh
